<h1>Cactus Blog</h1>
 
 <div class="container-fluid">
  
    <% @articles.each do |article| %>
      <div>
        <h2><%= article.title %></h2>
        <p><%= article.text %></p>
        <p><%= article.created_at.strftime "%d/%m/%Y" %>
        <p>
          <div class="btn btn-success">
            <%= link_to 'Read more', article_path(article) %>
              
          </div>
        </p>
        <% if user_signed_in? %>
          <p>
            <%= link_to 'Edit', edit_article_path(article) %>
            <%= link_to 'Destroy', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
                  
          </p>
        <% end %>
        <hr>
      </div>
    <% end %>

    <p>To create a new article in my blog you need to log in first:</p>
    <% if user_signed_in? %>
      <%= link_to 'New article', new_article_path %>
    <% end %>

  
</div>
