<h1>Cactus Blog</h1>
 <!--<p>If you want to get a notification email when a new article appears, click here. </p>-->
 <div class="container-fluid">
  
    <% @articles.each do |article| %>
      <div>
        <h2><%= article.title %></h2>
        <p><%= article.text[0..300].html_safe+"..." %></p>
        <p>
          <div class="creation_date">
            <%= article.created_at.strftime "%d/%m/%Y" %> 
          </div>
        <p>
          <div class="back_edit_link">
            <%= link_to 'Read more >>', article_path(article) %>
              
          </div>
        </p>
        <% if signed_in? && (current_user.role == "admin" || current_user.role == "author") %>
          <div class="back_edit_link">
            <%= link_to 'Edit', edit_article_path(article) %>
            <%= link_to 'Destroy', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
                  
          </div>
        <% end %>
        <hr>
      </div>
    <% end %>

    <p>To create a new article in my blog you need to be an author.</p>
    <% if signed_in? && (current_user.role == "admin" || current_user.role == "author") %>
      <%= link_to 'New article', new_article_path %>
    <% end %>

  
</div>
