<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<% if signed_in? && (current_user.role == "admin" || current_user.role == "author") %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Users list', users_path %>
